# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Data and models
/data/
/model/registry/
/model/output/
/model/vit_3_best/
/model/vit_4_best/
/model/*.pth
/model/*.h5
/model/*.pt
/model/*.safetensors
/monitoring/output/

# Logs
*.log

# OS metadata
.DS_Store
Thumbs.db
